<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="index.css">
    <title>Messager</title>
</head>
<body>
    <main>
        <div class="leftBox">
            <div class="usercardBox">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRAd5avdba8EiOZH8lmV3XshrXx7dKRZvhx-A&s" alt="avatar">
                <div class="info">
                    <div class="userData">
                        <div class="username">UserName</div>
                        <div class="descripton">Description</div>
                    </div>
                </div>

                <button>...</button>
            </div>


            <div class="chat_listbox">
                <div class="chat_list">

                    <div class="chatbox">
                        <div class="chat">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRAd5avdba8EiOZH8lmV3XshrXx7dKRZvhx-A&s" alt="avatar">
                            <div class="info">
                                <div class="chatName"><b>ChatName</b></div>
                                <div class="lastMessage">LastMessage</div>
                            </div>
                        </div>
                    </div>

                    <div class="chatbox">
                        <div class="chat">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRAd5avdba8EiOZH8lmV3XshrXx7dKRZvhx-A&s" alt="avatar">
                            <div class="info">
                                <div class="chatName"><b>ChatName</b></div>
                                <div class="lastMessage">LastMessage</div>
                            </div>
                        </div>
                    </div>

                    <div class="chatbox">
                        <div class="chat">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRAd5avdba8EiOZH8lmV3XshrXx7dKRZvhx-A&s" alt="avatar">
                            <div class="info">
                                <div class="chatName"><b>ChatName</b></div>
                                <div class="lastMessage">LastMessage</div>
                            </div>
                        </div>
                    </div>


                    
                </div>
            </div>
        </div>


        <div class="messangerMainBox">
            <div class="mainChatBox">


                <div class="tabsMainbox">
                    <div class="tabsList">
        
                        <div class="tab">
                            <div class="text">ChatName</div>
                            <button class="close">X</button>
                        </div>
                        <div class="tab SelectedTab">
                            <div class="text">SelectedChat</div>
                            <button class="close">X</button>
                        </div>
                        <div class="tab">
                            <div class="text">ChatName</div>
                            <button class="close">X</button>
                        </div>
                        <div class="tab">
                            <div class="text">ChatName</div>
                            <button class="close">X</button>
                        </div>

                        <div class="addTab">
                            <button>+</button>
                        </div>
        
                    </div>
                </div>

                <div class="mockBlock-top"></div>

                <div class="message_wrapper sended_msg">
                    <div class="message">
                        <img class="avatar" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRAd5avdba8EiOZH8lmV3XshrXx7dKRZvhx-A&s" alt="avatar">
                        <div class="message_content">
                            <div class="firstMessage">Короткое сообщение какое-нибудь</div>
                            <div class="secondMessage">Длинное сообщение всякое, тут много текста, просто потому что. Не знаю что ещё написать, по этому продолжу писать всякий бред чтоб заполнить пространство</div>
                            <div class="lastMessage">Последнее сообщение. Ну всё, бывай</div>
                        </div>
                    </div>
                </div>
                <div class="message_wrapper sended_msg">
                    <div class="message">
                        <img class="avatar" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRAd5avdba8EiOZH8lmV3XshrXx7dKRZvhx-A&s" alt="avatar">
                        <div class="message_content">
                            <div class="firstMessage">Короткое сообщение какое-нибудь</div>
                            <div class="secondMessage">Длинное сообщение всякое, тут много текста, просто потому что. Не знаю что ещё написать, по этому продолжу писать всякий бред чтоб заполнить пространство</div>
                            <div class="lastMessage">Последнее сообщение. Ну всё, бывай</div>
                        </div>
                    </div>
                </div>

                <div class="message_wrapper recived_msg">
                    <div class="message">
                        <img class="avatar" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRAd5avdba8EiOZH8lmV3XshrXx7dKRZvhx-A&s" alt="avatar">
                        <div class="message_content">
                            <div class="firstMessage">Короткое сообщение какое-нибудь</div>
                            <div class="secondMessage">Длинное сообщение всякое, тут много текста, просто потому что. Не знаю что ещё написать, по этому продолжу писать всякий бред чтоб заполнить пространство</div>
                            <div class="lastMessage">Последнее сообщение. Ну всё, бывай</div>
                        </div>
                    </div>
                </div>

                <div class="message_wrapper recived_msg">
                    <div class="message">
                        <img class="avatar" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRAd5avdba8EiOZH8lmV3XshrXx7dKRZvhx-A&s" alt="avatar">
                        <div class="message_content">
                            <div class="firstMessage">Короткое сообщение какое-нибудь</div>
                            <div class="secondMessage">Длинное сообщение всякое, тут много текста, просто потому что. Не знаю что ещё написать, по этому продолжу писать всякий бред чтоб заполнить пространство</div>
                            <div class="lastMessage">Последнее сообщение. Ну всё, бывай</div>
                        </div>
                    </div>
                </div>

                <div class="message_wrapper sended_msg">
                    <div class="message">
                        <img class="avatar" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRAd5avdba8EiOZH8lmV3XshrXx7dKRZvhx-A&s" alt="avatar">
                        <div class="message_content">
                            <div class="firstMessage">Короткое сообщение какое-нибудь</div>
                            <div class="secondMessage">Длинное сообщение всякое, тут много текста, просто потому что. Не знаю что ещё написать, по этому продолжу писать всякий бред чтоб заполнить пространство</div>
                            <div class="lastMessage">Последнее сообщение. Ну всё, бывай</div>
                        </div>
                    </div>
                </div>
                <div class="message_wrapper recived_msg">
                    <div class="message">
                        <img class="avatar" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRAd5avdba8EiOZH8lmV3XshrXx7dKRZvhx-A&s" alt="avatar">
                        <div class="message_content">
                            <div class="firstMessage">Короткое сообщение какое-нибудь</div>
                            <div class="secondMessage">Длинное сообщение всякое, тут много текста, просто потому что. Не знаю что ещё написать, по этому продолжу писать всякий бред чтоб заполнить пространство</div>
                            <div class="lastMessage">Последнее сообщение. Ну всё, бывай</div>
                        </div>
                    </div>
                </div>

                <div class="mockBlock-bottom"></div>
            </div>


            <svg style="display: none">
            <filter id="lg-dist" x="0%" y="0%" width="100%" height="100%">
                <feTurbulence type="fractalNoise" baseFrequency="0.008 0.008" numOctaves="1" seed="22" result="noise" />
                <feGaussianBlur in="noise" stdDeviation="30" result="blurred" />
                <feDisplacementMap in="SourceGraphic" in2="blurred" scale="60" xChannelSelector="L" yChannelSelector="G" />
            </filter>
        </svg>

            <div class="sendMessageBox blured">
                <!-- <div class="glass-specular"></div> -->
                <div contenteditable="" class="sendInputBox"></div>
                <button>Send</button>
            </div>

        </div>


        <div class="right_box">
            <div class="selector">
                <div class="buttons">
                    <button>Profile</button>
                    <button>Emoji</button>
                    <button>GIF</button>
                </div>
            </div>

            <div class="rightbox_info">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRAd5avdba8EiOZH8lmV3XshrXx7dKRZvhx-A&s" alt="avatar">
                <div>
                    ChatName <br>
                    Description
                </div>

                <div class="buttons">
                    <button>Заглушить</button>
                    <button>Закрепленные</button>
                    <button class="block_user">Заблокировать</button>
                </div>
            </div>
        </div>
        
    </main>

</body>
</html>