*{
  margin: 0;
  padding: 0;

  color: white;
}

body{
  background-color: #242221;

  width: 100vw;
  height: 100vh;
}

.film-creation-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;

  padding: 5px;

  width: 500px;
  min-height: 400px;

  background-color: #272724;
  border: 2px solid white;
  border-radius: 12px;
}

.text{
  text-align: center;
  font-size: 35px;
}

.input{
  width: 90%;
  height: 40px;
  padding: 12px;

  font-size: 20px;
}
.input .inputbox{
  background-color: #312e2c;
  color: white;
  padding: 10px;

  border: 2px solid white;
  border-radius: 50px;
}
.input .input-name{
  
}

.button{
  background-color: rgb(187, 184, 162);
  color: #242221;
}