*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #7775A6;
    height: 100vh;

    font-family:Arial, Helvetica, sans-serif;
}
main{
    display: flex;
    height: 100vh;
}


.left_box{
    background-color: #66639e;
    color: white;

    display: flex;
    flex-direction: column;

    gap: 4vh;
}


.user_cardbox{

    background-color: #432F62;

    display: flex;
    font-size: 80%;
}
.user_cardbox img{
    border-radius: 100%;
    padding: 3%;
    height: 10vh;
}
.user_cardbox .info{
    display: flex;
    flex-direction: column;
}


.chat_listbox{
    display: flex;
    flex-direction: column;

    background-color: #221F26;
    height: 80vh;
}
.chat_listbox .chatbox{
    padding: 1vh 0;
    margin: 1vh 0px;
    background-color: #66639e;
}
.chat_listbox .chatbox:hover{
    background-color: #2F205D;
}
.chat_listbox .chat{
    display: flex;
    align-items: center;
}
.chat_listbox .chatbox img{
    width: 4vw;
    border-radius: 100%;
}