<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="index.css">
    <title>Messager</title>
</head>
<body>
    <main>
        <div class="left_box">
            <div class="user_cardbox">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRAd5avdba8EiOZH8lmV3XshrXx7dKRZvhx-A&s" alt="avatar">
                <div class="info">
                    <div class="userData">
                        <div class="username">UserName</div>
                        <div class="descripton">Description</div>
                    </div>
                </div>

                <button>...</button>
            </div>


            <div class="chat_listbox">
                <div class="chat_list">

                    <div class="chatbox">
                        <div class="chat">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRAd5avdba8EiOZH8lmV3XshrXx7dKRZvhx-A&s" alt="avatar">
                            <div class="info">
                                <div class="chatName"><b>ChatName</b></div>
                                <div class="lastMessage">LastMessage</div>
                            </div>
                        </div>
                    </div>

                    <div class="chatbox">
                        <div class="chat">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRAd5avdba8EiOZH8lmV3XshrXx7dKRZvhx-A&s" alt="avatar">
                            <div class="info">
                                <div class="chatName"><b>ChatName</b></div>
                                <div class="lastMessage">LastMessage</div>
                            </div>
                        </div>
                    </div>

                    <div class="chatbox">
                        <div class="chat">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRAd5avdba8EiOZH8lmV3XshrXx7dKRZvhx-A&s" alt="avatar">
                            <div class="info">
                                <div class="chatName"><b>ChatName</b></div>
                                <div class="lastMessage">LastMessage</div>
                            </div>
                        </div>
                    </div>


                    
                </div>
            </div>
        </div>


        <div class="messanger_mainbox">
            <div class="mainChatbox">


                <div class="message_wrapper sended_msg">
                    <div class="message">
                        <img class="avatar" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRAd5avdba8EiOZH8lmV3XshrXx7dKRZvhx-A&s" alt="avatar">
                        <div class="message_content">
                            <div>Короткое сообщение какое-нибудь</div>
                            <div>Длинное сообщение всякое, тут много текста, просто потому что. Не знаю что ещё написать, по этому продолжу писать всякий бред чтоб заполнить пространство</div>
                        </div>
                    </div>
                </div>
    
                <div class="message_wrapper sended_msg">
                    <div class="message">
                        <img class="avatar" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRAd5avdba8EiOZH8lmV3XshrXx7dKRZvhx-A&s" alt="avatar">
                        <div class="message_content">
                            <div>Короткое сообщение какое-нибудь</div>
                            <div>Длинное сообщение всякое, тут много текста, просто потому что. Не знаю что ещё написать, по этому продолжу писать всякий бред чтоб заполнить пространство</div>
                        </div>
                    </div>
                </div>

                <div class="message_wrapper recived_msg">
                    <div class="message">
                        <img class="avatar" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRAd5avdba8EiOZH8lmV3XshrXx7dKRZvhx-A&s" alt="avatar">
                        <div class="message_content">
                            <div>Короткое сообщение какое-нибудь</div>
                            <div>Длинное сообщение всякое, тут много текста, просто потому что. Не знаю что ещё написать, по этому продолжу писать всякий бред чтоб заполнить пространство</div>
                        </div>
                    </div>
                </div>


            </div>

            <div class="send_messagebox">
                <input type="Message">
                <button>Send</button>
            </div>

        </div>


        <div class="right_box">
            <div class="selector">
                <div class="buttons">
                    <button>Profile</button>
                    <button>Emoji</button>
                    <button>GIF</button>
                </div>
            </div>

            <div class="rightbox_info">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRAd5avdba8EiOZH8lmV3XshrXx7dKRZvhx-A&s" alt="avatar">
                <div>
                    ChatName <br>
                    Description
                </div>
            </div>
        </div>
        
    </main>

</body>
</html>