*{
    margin: 0;
    padding: 0;
}

body{
    background: linear-gradient(#7775A6, #9355cc);
    font-family:Arial, Helvetica, sans-serif;

    width: 100vw;
    height: 100vh;
}
body::selection{
    background-color: #644869;
}

main{
    display: flex;

    position: absolute;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.mainBox{
    position: relative;
    display: flex;
    gap: 50px;
    align-items: center;
    flex-direction: column;
    
    font-size: large;
    text-align: center;

    width: 20vw;

    background-color: rgba(240, 248, 255, 0.15);
    border: inset rgba(255, 255, 255, 0.25);

    
    /* border-width: 4px;
    border-style: solid;
    border-image: linear-gradient(70deg,rgba(255, 255, 255, 0.25) 0%, rgba(140, 140, 140, 0.25) 50%, rgba(255, 255, 255, 0.25) 100%) 1; */

    border-radius: 16px;

    padding: 20px;
}
.text{
    font-size: xx-large;
    padding: 20px;
}
.inputBox{
    position: relative;
    width: 100%;
    text-align: left;

    outline: inset rgba(255, 255, 255, 0.25);
    background-color: #7775a63a;

    border-radius: 6px;

    padding: 6px 5px;
}
.inputBox:focus{
    transition: 100ms;
    background-color: #8f8dc73a;
}

.login::before{
    content: "Логин";
    color: #303030;

    font-size: medium;

    position: absolute;
    bottom: 40px;
}

.password::before{
    content: "Пароль";
    color: #303030;

    font-size: medium;

    position: absolute;
    bottom: 40px;
}
.repeatPassword::before{
    content: "Подтверждение пароля";
    color: #303030;

    font-size: medium;

    position: absolute;
    bottom: 40px;
}





.loginButton{
    cursor: pointer;

    width: 100%;

    color: white;
    background: linear-gradient(#7469a8, #66639e);

    border-radius: 8px;

    padding: 10px 5px;
}
.loginButton:hover{
    background: linear-gradient(rgba(255, 255, 255, 0.15), rgba(167, 167, 167, 0.15));
    
    outline: inset rgba(255, 255, 255, 0.15);
    
}

.registrationLink{
    cursor: pointer;
    font-size: medium;
    color: #303030;
    text-decoration: underline;

    padding: 10px 20px;
}